* {
  text-align: center;

}
.content {
  max-width: 965px;
  margin: auto;
}
body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
background-color: #777;
font: #777;

}

header {
  padding: 20px;
  margin-bottom: 20px;
  line-height: 50px;
  width: 100%;
  color: #333;
  background-color: #ebebeb;
}


nav {
  background-color: #ebebeb;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  line-height: 50px;
  color: #333;

}

section {
  
  padding: 20px;
  margin-bottom: 20px;
  margin: 20 px;
  width: 495px;
  color: #333;
  background-color: #ebebeb;
  float: left;
  
}

article {
  color: #ebebeb;
  background-color: #777;
  padding: 20px;
    margin-bottom: 20px;
    margin: 20px;
    width: 80%;
    

   
  }

aside {
  background-color: #ebebeb;
  padding: 20px;
  margin-bottom: 20px;
  margin: 10px;
  width: 460px;
  position: relative;
  float: right;
 
}

.htag
{
color: #777;
background-color: #ebebeb;
padding: 20px;
margin-bottom: 20px;
margin: 20px;
width: 350px;
height: 100 px;
box-sizing:  border-box;
  
}

.paragraph {
  color: #777;
background-color: #ebebeb;
padding: 20px;
margin-bottom: 20px;
margin: 20px;
width: 350px;
height: 100 px;
box-sizing: border-box;
  

}
.clear {
  clear:both;
}
footer {
  
  padding: 20px;
  margin-bottom: 20px;
  margin: 20px;
  width: 100%;
  line-height: 50px;
  color: #333;
  background-color: #ebebeb;
}
